#### PYTHON IS HIGH LEVEL INTREPRETED LANGUAGE AND IS A MULTIPARADIGM LANGUAGE
#### PYTHON IS A SIMPLE AND EASY LANGUAGE

#### DATA TYPES
1. int , float and complex --- number data types
2. str --- character datatype
3. bool --- True or False
4. none --- null data types

#### DATA STRUCTURES
1. List  ordered and mutable
2. tuple orderd and immutable
3. set unordered and consist of elements that are hashable and so set contains objects that are immutable and set itself is unhashable (mutable)
4. dictionary has key value pairs and is unordered

In [55]:
a=['apple','guava','mango']
a.append('cherry')

In [56]:
b={"Cinnamon girl":{"Lana del rey":2022},"let the world burn":{"XXXX":2025},"Cry for me":{"Weekend":2025}}
for i, j in b.items():
    print(j.values())

dict_values([2022])
dict_values([2025])
dict_values([2025])

for key in student:
    print(key, student[key])


for key, value in student.items():
    print(key, value)

#### FUNCTIONS
1. functions are block of reusable code
2. user defined and built in functions

In [57]:
def name():
    print("Welcome to function")
name() # call function

Welcome to function

In [58]:
# arguments
def name(na):
    print(f"hello {na}, welcome!")
name("Sharmila") # passing arguments to the function

hello Sharmila, welcome!

In [59]:
def add(a,b):
    print(a+b)
add(9,10)

19

In [60]:
def add(a,b):
    return a+b  # can be used if we are assigning some other value or function
result= add(9,10)
print(result)

19

In [61]:
# (from test.py import add) to call this function for using this functionin another file
# *args and **kwargs
def add(*args):
    total=0
    for num in args:
        total+=num
    return total
result= add(0,1,2,4,5,6,7)
print(result)

25

In [62]:
#kwargs
def create(**kwargs):
    print("User profile")
    for key , value in kwargs.items():
        print(f"{key} : {value}")
create(name="Sam",age=22,job="data analyst")

User profile
name : Sam
age : 22
job : data analyst

#### LIST AND LIST METHODS

In [63]:
# 1. append -- adds an element at the end of the list
numbers =[1,2,4,5,7]
numbers.append(8)
numbers

[1, 2, 4, 5, 7, 8]

In [64]:
# 2. insert -- adds element to the particular position
num = [1,2,4,5,7]
num.insert(2,3)
num

[1, 2, 3, 4, 5, 7]

In [65]:
# 3. remove 
num = [1,2,4,5,7]
num.remove(2) # particular element
num

[1, 4, 5, 7]

In [66]:
# 4. pop --- deletes the last element
num = [1,2,4,5,7]
num.pop()
num

[1, 2, 4, 5]

In [67]:
# 5. reverse
num = [1,2,4,5,7]
num.reverse()
num

[7, 5, 4, 2, 1]

In [68]:
# count === it gives the count of an element
num = [1,2,4,5,7]
num.count(2)

1

###  `append(x)`
> Adds an item to the **end** of the list.
    
fruits = ['apple', 'banana']
fruits.append('orange')  # ['apple', 'banana', 'orange']

###  `insert(index, x)`

> Inserts an item at a **specific position**.

fruits.insert(1, 'grape')  # ['apple', 'grape', 'banana']

###  `extend(iterable)`

> Adds elements from another list (or iterable) to the end.

a = [1, 2]
b = [3, 4]
a.extend(b)  # [1, 2, 3, 4]

###  `remove(x)`

> Removes the **first occurrence** of a value.

fruits = ['apple', 'banana', 'apple']
fruits.remove('apple')  # ['banana', 'apple']


###  `pop([index])`

> Removes and returns item at index. If index not given, removes last item.

nums = [10, 20, 30]
nums.pop()       # Returns 30
nums.pop(0)      # Returns 10

###  `clear()`

> Removes **all elements** from the list.

nums = [1, 2, 3]
nums.clear()  # []

### `index(x)`

> Returns the **first index** of value `x`.

colors = ['red', 'green', 'blue']
colors.index('green')  # 1

###  `count(x)`

> Returns how many times `x` appears in the list.

[1, 2, 2, 3].count(2)  # 2

###  `sort(reverse=False)`

> Sorts the list in **ascending** order. Use `reverse=True` for descending.

nums = [3, 1, 4]
nums.sort()            # [1, 3, 4]
nums.sort(reverse=True)  # [4, 3, 1]

###  `reverse()`

> Reverses the list **in-place**.

nums = [1, 2, 3]
nums.reverse()  # [3, 2, 1]

###  `copy()`

> Returns a **shallow copy** of the list.

a = [1, 2, 3]
b = a.copy()  # b = [1, 2, 3]

### `zip()` Function

> Combines two or more iterables (like lists or tuples) **element-wise** into pairs (or tuples).

zip(iterable1, iterable2, ...)

###  Example:

names = ['Sharmila', 'Ravi', 'Meena']
scores = [95, 88, 76]

zipped = list(zip(names, scores))
print(zipped)
[('Sharmila', 95), ('Ravi', 88), ('Meena', 76)]


You can **unpack** it using:

for name, score in zip(names, scores):
    print(name, score)


##  Merge Two Lists into a Dictionary

###  Method: Using `zip()` + `dict()`

keys = ['name', 'age', 'course']
values = ['Sharmila', 21, 'Python']

merged_dict = dict(zip(keys, values))
print(merged_dict)


###  Output:

{'name': 'Sharmila', 'age': 21, 'course': 'Python'}

##  Merge Two Dictionaries

a = {'x': 1, 'y': 2}
b = {'y': 10, 'z': 3}
merged = a | b
print(merged)

{'x': 1, 'y': 10, 'z': 3}

In [69]:
a = ['Name', 'age', 'job', 'height','weight']
b= ["Sharmila" , 22, "data analyst",157, 45]
c= dict(zip(a,b))
c

{'Name': 'Sharmila',
 'age': 22,
 'job': 'data analyst',
 'height': 157,
 'weight': 45}

In [70]:
a = ['Name', 'age', 'job', 'height','weight']
b= ["Sharmila" , 22, "data analyst",157, 45]
c= list(zip(a,b))
c

[('Name', 'Sharmila'),
 ('age', 22),
 ('job', 'data analyst'),
 ('height', 157),
 ('weight', 45)]

In [71]:
c= dict(zip(a,b))
for label , values in c.items():
    print(label , values)

Name Sharmila
age 22
job data analyst
height 157
weight 45

In [72]:
# sorted() (returns a new sorted list)
# Unlike list.sort(), it doesn't modify the original list.
a=[1,2,3,45,0,-1,-2,-7]
sorted(a) # does not modify the original list
a.sort() # modifies original list

In [73]:
# enumerate() (index + value in loops)
for i, value in enumerate(['a', 'b', 'c']):
    print(i, value)

0 a
1 b
2 c

In [74]:
# # lists
# elements can be added in list
# list are ordered (based on index)
# mutable (can make changes in the list)
# can have multiple data types
# extend --- it adds a list at the end 
a=[1,2,3,4,5]
b=[8,9,0,11,12]
a.extend(b)
a

[1, 2, 3, 4, 5, 8, 9, 0, 11, 12]

In [75]:
# slicing (start : stop : step)
a[::-1] # reverse
a[1:5:1]

[2, 3, 4, 5]

In [76]:
# LIST ITERATION
food = ["Briyani" ,"paneer tikka" , "Alfaham chicken" , "Paneer Butter masala"]
for f in food:
    print(f)

Briyani
paneer tikka
Alfaham chicken
Paneer Butter masala

In [77]:
# to merge two list with for loop consider length of list or zip of lists
singer = ["Weeknd" ,"Lana del Rey" ,"Lana Del Rey" ,"Vanna Rainella" ,"Selena Gomez"]
playlist= ["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"]
for i in range(len(singer)):
    print(f"{singer[i]}:{playlist[i]}")

Weeknd:Good for you
Lana del Rey:YAD
Lana Del Rey:Summertime sadness
Vanna Rainella:Young and beautiful
Selena Gomez:Cry for me

In [78]:
singer = ["Weeknd" ,"Lana del Rey" ,"Lana Del Rey" ,"Vanna Rainella" ,"Selena Gomez"]
playlist= ["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"]
merged = [f"{i}:{j}" for i, j in list(zip(singer,playlist))]
merged

['Weeknd:Good for you',
 'Lana del Rey:YAD',
 'Lana Del Rey:Summertime sadness',
 'Vanna Rainella:Young and beautiful',
 'Selena Gomez:Cry for me']

#### LIST COMPREHENSION

> [expression + for item in iterable]   [i**2  + for i in range (0,10)]

In [79]:
# squares of a number
squares = [x**2 for x in range (0,10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

> [expression  + for item in iterable + if condition]
> Example : [i**3 + for i in range (0,10) + if i%3==0]

In [80]:
# squares of a number only if the number is even
sq_eve = [x**2 for x in range (0,10) if i%2==0]
sq_eve

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

> [expression_ + if_true + if condition + else expression_+ if_false for item in iterable]
> [i**2 + if i%2==0 + else i**3 + for i in range (0,10)]

In [81]:
# squares if even else cubes 
sq_cu = [x**2 if x%2==0 else x**3 for x in range(0,15)]
sq_cu

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196]

> [expression_if_true + if condition + else expression_if_false + for item in iterable + if filter_condition]

In [82]:
# squares if x is divided by 2 cubes if x is divided by 3
sq_cu = [x**2 if x%2==0 else x**3 for x in range (0,15) if x%2==0 or x%3==0]
sq_cu

[0, 4, 27, 16, 36, 64, 729, 100, 144, 196]

####  PROBLEMS FOR LIST AND LIST COMPREHENSION

In [83]:
# Filter and Square the Even Numbers
# Given a list of integers, use list comprehension to extract only the even numbers and return their squares.
# Example input:
nums = [1, 2, 3, 4, 5, 6]
sq= [x**2 for x in nums if x%2==0]
sq

[4, 16, 36]

In [84]:
# 2. Create Pairs from Two Lists
#Given two lists, use list comprehension to return a list of all pairs (tuples) where the first element is from list1 and the
# second is from list2 but not equal.
list1 = [1, 2]
list2 = [2, 3]
sq=[]
for i in range (0,len(list1)):
    for x, y in list(zip(list1,list2)):
        if list1[i]!=y:
            sq.append((list1[i],y))
sq

[(1, 2), (1, 3), (2, 3)]

In [85]:
sq= [(x,y) for x in list1 for y in list2 if x!=y ]
sq

[(1, 2), (1, 3), (2, 3)]

In [86]:
# 3. Find Words with Even Length
# From a list of words, use list comprehension to return only the words with an even number of characters.
words = ["apple", "banana", "kiwi", "pear", "grape"]
wor = [ word for word in words if len(word) %2 ==0]
wor

['banana', 'kiwi', 'pear']

In [87]:
# 4. Flatten a Nested List
# Given a nested list (2D list), use list comprehension to flatten it into a single list.
nested = [[1, 2], [3, 4], [5, 6]]
single = []
for i in nested:
    for j in i:
        single.append(j)
print(single)

[1, 2, 3, 4, 5, 6]

In [88]:
single = [j for i in nested for j in i]
single

[1, 2, 3, 4, 5, 6]

In [89]:
# 5. Replace Negative Numbers with Zero
# Given a list of integers, use list comprehension to replace all negative numbers with 0.
nums = [-3, 5, -1, 7, -9]
n = [0 if x<0 else x for x in nums]
n

[0, 5, 0, 7, 0]

In [90]:
# 6.  Problem:
# Given a nested list (only one level deep), flatten it using list comprehension.
nested = [[1, 2], [3, 4], [5, 6]]
flatten = [x for y in nested for x in y]
flatten

[1, 2, 3, 4, 5, 6]

In [91]:
# # Problem:
# Square even numbers and cube odd numbers from the given list.
nums = [1, 2, 3, 4, 5]
sq= [x**2 if x%2==0 else x**3 for x in nums]
sq

[1, 4, 27, 16, 125]

In [92]:
# Problem:
# Given a list of strings, extract digits from each string and return as list of integers.
data = ['ab1', 'c2d', '34x', 'z9']
digits = [int(x) for words in data for x in words if x.isdigit()]
digits

[1, 2, 3, 4, 9]

In [93]:
# Problem:
# Given a 2D matrix, transpose it using list comprehension.
matrix = [[1, 2, 3],
          [4, 5, 6]]
transpose= [[matrix[0][i],matrix[1][i]] for i in range (0,len(matrix[0]))]
transpose

[[1, 4], [2, 5], [3, 6]]

In [94]:
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
transpose

[[1, 4], [2, 5], [3, 6]]

In [95]:
# Problem:
# Given a list of words, remove vowels from each word and reverse the word.

words = ['hello', 'world', 'python']
vowels=["a","e","i","o","u"]
ch=[''.join([ch for ch in word if ch.lower() not in vowels])[::-1] for word in words]
ch

['llh', 'dlrw', 'nhtyp']

In [96]:
# Given a 2D matrix, rotate it 90 degrees clockwise using list comprehension.

matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
rotate = [([row[i] for row in matrix])[::-1] for i in range(len(matrix[0]))]
rotate

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [97]:
# # From a list of words, remove all consonants and reverse the remaining characters.

words = ['hello', 'world', 'python', 'aeiou']
vowels=["a","e","i","o","u"]
consonants = [''.join([ch for ch in word if ch.lower() in vowels])[::-1] for word in words]
consonants
# Output: ['oe', 'o', 'o', 'uoiea']

['oe', 'o', 'o', 'uoiea']

In [98]:
# Given a square matrix, extract the diagonal elements using list comprehension.

matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

diagonal = [matrix[i][i] for i in range(len(matrix[0]))]
diagonal

[1, 5, 9]

In [99]:
# Given a list of strings, remove all digits from each string and reverse the result.

data = ['abc123', '4def5', 'ghi6']
# Output: ['cba', 'fed', 'ihg']
reverse = [''.join([ch for ch in word if ch.isalpha()])[::-1] for word in data]
reverse

['cba', 'fed', 'ihg']

#### CONDITIONAL STATEMENTS
> Conditional statements allow you to make decisions in your code. Based on conditions (True/False), different blocks of code will execute.

# if and else:
if True :
    code block executes
else:
    else block executes

# if elif and else:
if True:
    code block executes
elif:
    if not true elif code block is checked
else:
    if everything becomes false else block runs

#### CONTROL STATEMENTS
> Control statements help you change the flow of execution in loops or code blocks.
> They are mostly used inside loops (for, while) and conditionals.

In [100]:
# 1. BREAK 
# Used to exit a loop early when a condition is met.
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

In [101]:
# 2. CONTINUE
# Skips the current iteration and continues with the next one.
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [102]:
# 3. PASS
# Used as a placeholder. It does nothing, but prevents syntax errors.
for i in range(3):
    if i == 1:
        pass
    print(i)

0
1
2

In [103]:
# 4. ELSE WITH LOOPS
# You can attach an else to a loop. It runs only if the loop doesn't break.
for i in range(5):
    if i > 2:
        break
    print(i)
else:
    print("Loop finished without break")

0
1
2

In [104]:
for i in range(1, 6):
    if i % 2 == 0:
        continue
    print(i)

1
3
5

#### TUPLES
1. immutable that is we cant change an element
2.  all data types can be entered
3. braces
4. ordered
5.  count and index can be used
6. tuple is faster than list in readonly
7. list is dynamic that is can be changed

In [105]:
trip = ("ubergo" ,"chennai" ,3.14 , 2+1j , 450 , None , True)
print(trip)

('ubergo', 'chennai', 3.14, (2+1j), 450, None, True)

In [106]:
# packing 
person = ("Alice", 25, "Doctor")
person

('Alice', 25, 'Doctor')

In [107]:
# unpacking
name , age , job = person
name

'Alice'

In [108]:
# 'tuple' object does not support item assignment
# t[0] = 100   #  Error

#### SET 
1. unodered /n
2. union (|) , intersection (&) , difference(-)
3. set.update([multiple values])
4. set. clear()
5. set.remove()
6. set. add()
7. We cant change a particular value we have to remove and add a new value eg, {1,2,3} , set.remove(2) , set.add(5)
8. set.discard() this does not show error even if the value is not present
9. cant access by index
10.set stores values based on hash and not order of insertion and hence they are unordered

In [109]:
uber = {"Chennai" ,"Banglore" ,"Chennai" ,"Delhi", "Banglore"}
uber2 ={"Coimbatore" ,"Banglore" ,"Madurai" ,"Karur" ,"Trichy"}
unique = set(uber) # REMOVING DUPLICATES for list
print(unique)

{'Banglore', 'Delhi', 'Chennai'}

In [110]:
print(uber|uber2) # or uber.union(uber2)

{'Banglore', 'Delhi', 'Chennai', 'Coimbatore', 'Karur', 'Trichy', 'Madurai'}

In [111]:
print(uber&uber2) # common items or uber.intersection(uber2)

{'Banglore'}

In [112]:
print(uber-uber2) # prints difference in set 1

{'Delhi', 'Chennai'}

In [113]:
print(uber2-uber)

{'Coimbatore', 'Karur', 'Madurai', 'Trichy'}

In [114]:
uber.update(["neyveli" ,"Thanjavur"])
print(uber)

{'Banglore', 'Delhi', 'Chennai', 'Thanjavur', 'neyveli'}

#### DICTIONARY

1. KEY VALUE PAIRS
2. unordered
3. mutable
4. cant access by index
5. Unorderd becaus eit stores values and uses hasj=h function to map keys and not ordre of insertion
6. this allows fast lookup , insertions and deletions
7. Both sets and dictionaries are faster as set mebership checking and dictionary based on key search
8. Tuples are faster than list because immutable

#### IMPORTANT NOTE !

1. Hashable(immutable) and Unhashable (mutable)
2. sets are mutable therefore not hashable
3. elements in the set must be hashable include numbers , string , tuples where the original is not changed and a new object is created and stored by hash values
4. unhashable objects include sets , dictionaries and list

#### FAST COMPARISON

#### Fastest (for access & operations)

| Data Type | Speed        | Reason                                           |
| --------- | ------------ | -------------------------------------------------|
| `int`     | Very Fast | Fixed size, immutable, directly stored in memory. |
| `float`   | Very Fast | Similar to int, stored directly in memory.        |
| `bool`    | Very Fast | Subclass of `int`, uses 0 or 1 internally.        |
| `None`    | Very Fast | Singleton object, comparisons and usage are fast. |

#### Fast (with minor overheads)

| Data Type | Speed   | Reason                                                                                    |
| --------- | ------- | ----------------------------------------------------------------------------------------- |
| `tuple`   | Fast | Immutable, fixed-size, faster than list for iteration.                                    |
| `string`  | Fast | Immutable, stored as sequence of characters, fast for access but slower for modification. |
| `complex` | Fast | Slightly more overhead than float due to real+imag part.                                  |

#### Slower (due to flexibility and mutability)

| Data Type | Speed       | Reason                                                                           |
| --------- | ----------- | -------------------------------------------------------------------------------- |
| `list`    |  Moderate | Mutable, dynamic resizing, slower than tuples.                                   |
| `set`     |  Moderate | Fast membership test, but unordered and uses hash.                               |
| `dict`    |  Moderate | Fast for lookup, but higher memory and CPU due to hashing and key-value mapping. |

####  Typical Speed Ranking (Access/Lookup):
> int ≈ float ≈ bool > None > tuple > string > complex > list > set > dict

#### Summary:

1.  For computation: int, float, bool are fastest.

2.  For iteration: tuple is faster than list.

3.  For membership tests: set and dict are faster than list, but with more overhead.

4. For modification: list, dict, and set are more flexible but slower.

5. None is very light, but used for null-like values.

In [115]:
# dict.get (key) no error will come
# dict[key] if no key error
trip ={"Name" :"Sharmila" , "Age" : 21 ,"drop" :["Airport","Surapet","tidel"] ,"driver" :"driver 1"}
print(trip["Name"])
print(trip.get("SHaru")) # will not give error

Sharmila
None

In [116]:
print(trip.keys()) # key an d value extraction
print(trip.values())

dict_keys(['Name', 'Age', 'drop', 'driver'])
dict_values(['Sharmila', 21, ['Airport', 'Surapet', 'tidel'], 'driver 1'])

In [117]:
for key , values in  trip.items():
    print(f"{key} :{values}")

Name :Sharmila
Age :21
drop :['Airport', 'Surapet', 'tidel']
driver :driver 1

In [118]:
trip.update({"car model":"suzuki"}) # absurd (if there is key update or it will insert a new key)
print(trip)

{'Name': 'Sharmila', 'Age': 21, 'drop': ['Airport', 'Surapet', 'tidel'], 'driver': 'driver 1', 'car model': 'suzuki'}

In [119]:
# if duplicates are present it will tak ethe lastest duplicate and no error will come
print(trip["drop"][2])

tidel

In [120]:
for i in trip["drop"]:
    print(i)

Airport
Surapet
tidel

In [121]:
# can create a multiple dictionaries
trips = [{"Name":"Sam" , "pickup":"Surapet" ,"time":3.45 ,"drop":"Tambaram" ,"driver":"driver1" ,"car model" :"suzuki"},
         {"Name":" Milan" , "pickup":"Kolathur" ,"time":4.45 ,"drop":"Tharamani" ,"driver":"driver2" ,"car model" :"swift"},
         {"Name":"Dala" , "pickup":"Kodambakkam" ,"time":5.45 ,"drop":"vadapalani" ,"driver":"driver3" ,"car model" :"ertiga"},
        ]
for trip in trips:
    print(trip["Name"], trip["pickup"])

Sam Surapet
 Milan Kolathur
Dala Kodambakkam

In [122]:
trips = {"UB001": {"Name":"Sam" , "pickup":"Surapet" ,"time":3.45 ,"drop":"Tambaram" ,"driver":"driver1" ,"car model" :"suzuki"},
         "UB002": {"Name":" Milan" , "pickup":"Kolathur" ,"time":4.45 ,"drop":"Tharamani" ,"driver":"driver2" ,"car model" :"swift"},
         "UB003": {"Name":"Dala" , "pickup":"Kodambakkam" ,"time":5.45 ,"drop":"vadapalani" ,"driver":"driver3" ,"car model" :"ertiga"},
        }

In [123]:
print("DROP 1" ,trips["UB001"]["drop"])

DROP 1 Tambaram

In [124]:
for trip_id , details in trips.items():
    print(trip_id)
    print(details["pickup"],"-->",details["drop"])

UB001
Surapet --> Tambaram
UB002
Kolathur --> Tharamani
UB003
Kodambakkam --> vadapalani

#### FILE HANDLING
1. Open the file

2. Read or write

3. Close the file

4. syntax:

   > f = open("filename.txt", "mode")


1. 'r'---Read (default) – error if file doesn't exist
2. 'w'---Write – creates new file or overwrites
3. 'a'---Append – adds to the end of the file
4. 'x'---Create – creates a new file, error if exists
5. 'b'---Binary mode (add with 'rb', 'wb')
6. 't'---Text mode (default, 'rt', 'wt')

#### OPEN A FILE

In [125]:
file = open("prac.txt","w")
file.write("Welcome to string\n")
file.write("Hiii")
file.close()

#### READ A FILE

In [126]:
file = open("prac.txt","r")
content = file.read()
print("file content:\n",content)
file.close()

file content:
 Welcome to string
Hiii

1. read()	Reads entire file as a string
2. readline()	Reads one line at a time
3. readlines()	Returns all lines as a list

In [127]:
file = open("prac.txt",'r')
content = file.readline()
print(content)
file.close()

Welcome to string

In [128]:
file = open("prac.txt",'r')
content = file.readlines()
print(content)
file.close()

['Welcome to string\n', 'Hiii']

#### APPEND A FILE

In [129]:
file = open("prac.txt","a")
file.write ("\n adding a new line ")
file.close()

#### WITH STATEMENT
1. with statement is pythonic way of writing a file
2. with statement we dont have to close the file after open we can use it many times

In [130]:
with open("prac.txt",'r') as f:  
    for line in f:
        print(line.strip())

Welcome to string
Hiii
adding a new line

In [131]:
# creating a feedback entering code
feedback = input("Enter your feedback :")
with open("prac.txt","a") as log:
    log.write("\n"+feedback + "\n")
print("Thanks for your feedback")

Enter your feedback : hiii

Thanks for your feedback

In [132]:
with open("data.txt","a") as log:
    log.write("Apple \n")
    log.write("Banana \n")
    log.write("cherry ")

In [133]:
with open("data.txt","r") as file:
    print(file.readline().strip())
    print(file.readline().strip())
    print(file.readline().strip())

INFO : Application started sucessfully
INFO : user log in successful
WARNING : Disk space low

In [134]:
# readline and for loop does the same for loop calls readline function
with open("data.txt","r") as file:
    while True:
        line = file.readline()
        if not line:
            break
        if "ERROR" in line:
            print("found error:", line.strip())

found error: ERROR: failed to connect to database
found error: ERROR : null pointer exception occured

In [135]:
with open("data.txt","r") as file:
   for _ in range (10):  #  _ (throwback variable) , i need only 10 lines in the file
       print(file.readline().strip())

INFO : Application started sucessfully
INFO : user log in successful
WARNING : Disk space low
ERROR: failed to connect to database
INFO : Scheduled task
ERROR : null pointer exception occured
INFO : application shutdown
whegdegwfgwekf
wqgekqugwdiug
qdkjegfiuqegf